body {
	background-color: #1a3b29;
	color: #efe9ce;
}

header {
	display: inline-block;
	width: auto;
	text-align: center;
	padding: 25% 25% 25% 25%;
	display: flex;
	justify-content: center;
}
h1 {
  	font-family: 'Lora', serif;
}
